.popup__button-submit_disabled {
    opacity: .2;
    background-color: #FFFFFF;
    color: black;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border: 1px solid black;
    cursor: not-allowed;
}

.popup__button-submit_disabled:hover {
    opacity: .2;
}
