.header {
    padding-top: 45px;
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 28px 0 31.6px 27px;
    }
}