.element__like-button {
    background-image: url(../../../images/like.svg);
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22px;
    min-height: 19px;
    background-color: #FFFFFF;
    padding: 0;
    cursor: pointer;
}

.element__like-button:hover {
    opacity: .5;
}
